body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgHeaderNav{
    display: flex;
    flex-direction: row;
}

.imgHeaderNav img {
    margin-top: 1.3em;
    margin-left: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    background: black;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-top: -0.5em;
    margin-bottom: 3em
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-right: 15px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

nav li {
    margin-left: 15px;
    padding: 5px;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none
}
nav li a:hover {
    color: #fca311;
}

.imgHeaderNav {
    width: 150px;
    overflow: hidden;
}
.imgHeader {
    width: 50px;
    overflow: hidden;
}
.imgHeader img{
    width: 15px;
    height: 15px;

}
.imgHeader img:hover{
    filter: drop-shadow(0px 15px 0 #fca311);
    transform: translateY(-20px);
}
.active {
    color: #fca311;  
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgContainer{
    text-align: center;
}
.imgContainer img{
width: 65px;
margin-bottom: -2em;
}
.images-container a{
    text-decoration:none;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 h2{
    font-size: 24px;
}
p {
    border-top: 1px solid #E5E5E5;
    padding: 10px;
    margin-left: 5em;
    width: 610px;
    margin-bottom: -0.5em;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-left: -1em;
    margin-bottom: 1em;
}
.firstContainer {
    display: block;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    
}
.table-container{
    margin-left: 5em;
    height: 300px;
    width: 630px;
    overflow-x: hidden;
    z-index: 3;
    border: 1px solid black;
}
table {
    width: 630px;
    height: 200px;
    border-collapse: collapse;
    height: 270px;
    border-spacing: 0;
    z-index: 1;

}
table tbody,
table thead {
    border-spacing: 0;
}
th, td{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    font-size: 12px;
    white-space: nowrap;
    padding: 5px;
}
th {
    border-bottom: 3px solid grey;
    background-color: #E5E5E5;
    position: sticky;
    text-align: center;
    margin-right: 60px;
    width: fit-content;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 222;
}
tr:hover td {
    white-space: normal;
    /* Display full text on hover */
    text-overflow: initial;
    z-index: 1;
}
#description{
    padding: 2em;
    margin-bottom: 0.5em;
    width: 257px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgContainer:hover{
    background-color: #fca311;
}
.showForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5em;
    margin-top: 3em;
    margin-left: 5em;
    width: 300px;
    padding: 0.5em;
    border: 1em;
    border-radius: 1cap;
    background-color: #fca311;
    color: white;
    text-align: center;
}
.button {
    display: flex;
    width: 200px;
    text-align: center;
    padding-left: 4em;
    border-color: transparent;
    border-radius: 0.5cap;
    font-size: 10px;
    font-weight: bold;
    padding-left: 63px;
    background-color: #E5E5E5;
}
.button:hover{
    background-color:  #14213d ;
    color: white;
}
.showForm:hover{
    background-color:  #14213d ;
    color: white;
}
form{
    display: flex;
justify-content: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 5%;
    margin-bottom: 10em;
    width: 30%;
    padding: 1em;
    margin-left: 3em;
    border: 1px solid #E5E5E5;
}
fieldset legend {
    margin-left: -9em;
 font-weight: bold;
}
fieldset label{
 margin-left: 1em;
 margin-top: 1em;
}
fieldset input {
 width: 90%;
 margin-left: 1em;
 margin-bottom: 1em;
 padding: 0.3em;
 border-radius: 1cap;
 border: 1px solid #E5E5E5;
}

fieldset .secondButton  {
    font-size: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 0;
    margin: 1em -1em 1em 2em;
    margin-right: 0em;
    margin-left: 14px;
    padding: 1em;
    border-radius: 1cap 1cap 1cap 1cap / 1cap 1cap 1cap 1cap;
    background-color: rgb(252, 163, 17);
    color: white;
    text-align: center;
}
.secondButton:hover{
    background-color: #14213d;
    color: white;
}
fieldset button:active {
    color: #fca311;
}
.secondButton:active{
    background-color: white;
    color: #fca311;
}
.imgContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid #fca311;
    border-radius: 5%;
    margin: 35px;
    width: 5em;
    height: 6em;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 2em;
    width: 100px;
    height: 120px;
    margin-bottom: 0.5em
}

.images-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-left: 1em;

}

.images-container img {
    padding: 20px;
    margin-bottom: -4px;
    margin-left: -4px;
}

nav h1 {
    background: black;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 20px;
    font-size: 10px;
}


::-webkit-scrollbar {
    width: 10px;
    z-index: 1;

}
::-webkit-scrollbar:hover{
    z-index: 1;
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    z-index: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 2px;
    width: 30px;
    z-index: 1;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    z-index: 1;
    width: 10px;
}
.dep, .arr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#arrival,#departure{
    width: 160px;
}
.fieldsetCard{
    flex-wrap: wrap;
    flex-direction: row;
}