﻿﻿header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    height: 45px;
    width: 100%;
}

.logo {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    text-decoration: none;
    font-size: 10px;
    align-items: center;
    margin-left: 6px;
}

    .logo h1 {
        margin-left: 6px;
        font-weight: lighter;
    }

    .logo img {
        width: 18px;
        margin-left: 8px;
    }

.nav-bar {
    padding: 3px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link {
    margin-right: 5px;
    padding: 5px;
}

    .nav-link a {
        font-weight: lighter;
        text-decoration: none;
        color: #ffffff;
    }

        .nav-link a.active {
            color: #fca311;
        }

        .nav-link a:hover {
            color: #fca311;
            transition: color 0.3s ease;
        }

footer {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    height: 35px;
    align-items: center;
}
