main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 45px;
}

.dashboard-header {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

.main-header {
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 450px;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

    .main-header h2 {
        position: relative;
        font-size: 32px;
        font-weight: lighter;
    }

.arrow-back {
    position: absolute;
    left: 15%;
    user-select: none;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 35px;
}

    .card-wrapper a {
        width: 100%;
    }

.dashboard-button {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border: 0;
    background-color: #e5e5e5;
    border-radius: 6px;
    font-weight: 700;
}

    .dashboard-button:hover {
        color: #ffffff;
    }

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #fca311;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    font-weight: 750;
    font-size: 18px;
}

.table-container {
    width: 50%;
    min-width: 450px;
    max-height: 450px;
    overflow: auto;
    border-bottom: 1px solid #000000;
}

table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
}

thead {
    background-color: #e5e5e5;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

tr:last-child td,
tr:last-child th {
    border-bottom: none;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #e5e5e5;
    font-weight: 700;
    outline: 1px solid #000000;
}

td {
    border-top: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    white-space: nowrap;
}

tr:hover {
    overflow: visible;
    white-space: initial;
}

.show-form-button {
    background-color: #fca311;
    height: 25px;
    width: 70%;
    min-width: 160px;
    margin-bottom: 30px;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 700;
}

button:hover {
    background-color: #14213d;
    transition: all 0.3s ease;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-top: 40px;
}

form {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
}

select {
    height: 25px;
    padding: 4px;
    margin-bottom: 14px;
}

legend {
    font-size: 13px;
}

#description {
    height: 50px;
    max-height: 150px;
    resize: vertical;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    min-width: 450px;
}

#search-container-flights {
    justify-content: flex-end;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    align-items: center;
    margin-bottom: 14px;
}

.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    align-items: center;
    margin-bottom: 14px;
}

select {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.filter-form
input, .filter-form select {
    margin-bottom: 0px;
    margin-right: 5px;
}

.search-form
input, .search-form select {
    margin-bottom: 0px;
    margin-right: 5px;
}

.search-form-button {
    background-color: #fca311;
    margin-left: 5px;
    height: 26px;
    width: 20%;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 700;
}

.submit-form-button {
    background-color: #fca311;
    height: 28px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 700;
}

    .submit-form-button:hover {
        background-color: #14213d;
        transition: all 0.3s ease;
    }

input,
textarea {
    margin-bottom: 14px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

label {
    font-size: 13px;
    font-weight: lighter;
}
