﻿﻿<a class="logo" asp-controller="Home" asp-action="Index">
    <h1>Rise Airlines</h1>
    <img src="~/assets/header-plane.png" alt="icon">
</a>
<nav class="nav-bar">
    <ul class="nav-list">
        <li class="nav-link"><a asp-controller="Airport" asp-action="Index">Airports</a></li>
        <li class="nav-link"><a asp-controller="Airline" asp-action="Index">Airlines</a></li>
        <li class="nav-link"><a asp-controller="Flight" asp-action="Index">Flights</a></li>
    </ul>
</nav>