﻿<nav>
    <div class="imgHeaderNav">
        <h1>
            Rise Airlines
        </h1>
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="images\header-plane.png"></a>
    </div>
    <ul>
        <li><a asp-area="" asp-controller="Airport" asp-action="Index">Airports</a></li>
        <li><a asp-area="" asp-controller="Airline" asp-action="Index">Airlines</a></li>
        <li><a asp-area="" asp-controller="Flight" asp-action="Index">Flights</a></li>
    </ul>
</nav>