﻿@media(max - width: 1200px) {
    .table - container {
        width: 70 %;
    }

    .search - container {
        width: 70 %;
    }

    .main - header {
        width: 70 %;
    }

    .arrow - back {
        left: 5 %;
    }
}

@media(max - width: 992px) {
    .table - container {
        width: 80 %;
    }

    .search - container {
        width: 80 %;
    }

    .main - header {
        width: 80 %;
    }

    .arrow - back {
        left: 0;
    }

    .card - wrapper {
        margin - right: 3px;
        margin - left: 3px;
    }
}

@media(max - width: 768px) {
    .card - container {
        display: flex;
        flex - direction: column;
        margin - bottom: 20px;
    }

    .card - wrapper {
        margin - bottom: 40px;
    }

    .logo {
        font - size: 10px;
    }
}

@media(max - width: 576px) {
    .logo {
        font - size: 8px;
    }

    td,
    th {
        border: 1px solid #000000;
        padding: 6px;
        text - align: center;
    }
}
