﻿@using Airlines.Web.Models
@model FlightsViewModel

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left-sidebar.png" alt="arrow-back" />
    </a>
    <h2>Flights</h2>
</div>
<div class="toggle-button-container">
    <button class="toggle-button">Hide table</button>
</div>

<div class="search-container" id="search-container-flights">
    <form class="filter-form" asp-controller="Flight" asp-action="Index" method="get">
        <select name="timePeriod">
            <option value="">Select time period</option>
            <option value="day">Flights in one day</option>
            <option value="week">Flights in one week</option>
            <option value="month">Flights in one month</option>
        </select>
        <button class="search-form-button">Apply Filter</button>
    </form>
    <form class="search-form" asp-controller="Flight" asp-action="Index" method="get">
        <input type="text" placeholder="search" name="searchTerm" />
        <select name="filter">
            <option value="Number">Number</option>
            <option value="DepartureAirport">From</option>
            <option value="ArrivalAirport">To</option>
            <option value="DepartureDateTime">Departure</option>
            <option value="ArrivalDateTime">Arrival</option>
        </select>
        <button class="search-form-button">Search</button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Flights.Any())
            {
                @foreach (var item in Model.Flights)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                        <td>@(item.FromAirport != null ? Html.DisplayFor(modelItem => item.FromAirport.Name) : "")</td>
                        <td>@(item.ToAirport != null ? Html.DisplayFor(modelItem => item.ToAirport.Name) : "")</td>
                        <td>@Html.DisplayFor(modelItem => item.DepartureDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.ArrivalDateTime)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No data available</td>
                </tr>
            }
        </tbody>
    </table>
    <button id="go-to-top-button">^</button>
</div>
<div class="show-form-button-container">
    <button class="show-form-button">Show Form</button>
</div>
<div class="form-wrapper">
    <form asp-controller="Flight" asp-action="AddFlight" method="post">
        @if (Model.Flights.Any())
        {
            <fieldset>
                <legend>Add New Flight</legend>
                <label asp-for="Flights.Last().FlightNumber">Number:</label>
                <input asp-for="Flights.Last().FlightNumber" class="form-control" id="number">
                <span asp-validation-for="Flights.Last().FlightNumber" class="text-danger" id="number-error"></span>

                <label asp-for="Flights.Last().FromAirportID">From:</label>
                <select asp-for="Flights.Last().FromAirportID" asp-items="@(new SelectList(Model.Airports, "AirportId", "Name"))" class="form-control" id="from">
                    <option value="">Select Departure Airport</option>
                </select>
                <span asp-validation-for="Flights.Last().FromAirportID" class="text-danger" id="from-error"></span>

                <label asp-for="Flights.Last().ToAirportID">To:</label>
                <select asp-for="Flights.Last().ToAirportID" asp-items="@(new SelectList(Model.Airports, "AirportId", "Name"))" class="form-control" id="to">
                    <option value="">Select Arrival Airport</option>
                </select>
                <span asp-validation-for="Flights.Last().ToAirportID" class="text-danger" id="to-error"></span>

                <label asp-for="Flights.Last().DepartureDateTime">Departure Time:</label>
                <input asp-for="Flights.Last().DepartureDateTime" class="form-control" type="datetime-local" id="departureTime">
                <span asp-validation-for="Flights.Last().DepartureDateTime" class="text-danger" id="depertureTime-error"></span>

                <label asp-for="Flights.Last().ArrivalDateTime">Arrival Time:</label>
                <input asp-for="Flights.Last().ArrivalDateTime" class="form-control" type="datetime-local" id="arrivalTime">
                <span asp-validation-for="Flights.Last().ArrivalDateTime" class="text-danger" id="arrivalTime-error"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend>Add New Flight</legend>
                <label>Number:</label>
                <input name="Number" class="form-control" id="number" id="number">
                <span asp-validation-for="Flights.Last().FlightNumber" class="text-danger" id="number-error"></span>

                <label for="FromAirportID">From:</label>
                <select name="FromAirportID" class="form-control" id="from">
                    <option value="">Select Departure Airport</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.AirportId">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="Flights.Last().FromAirportID" class="text-danger" id="from-error"></span>

                <label for="ArrivalAirportId">To:</label>
                <select name="ArrivalAirportId" class="form-control" id="to">
                    <option value="">Select Arrival Airport</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.AirportId">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="Flights.Last().ToAirportID" class="text-danger" id="to-error"></span>

                <label for="DepartureDateTime">Departure Time:</label>
                <input name="DepartureDateTime" class="form-control" type="datetime-local" id="departureTime">
                <span asp-validation-for="Flights.Last().DepartureDateTime" class="text-danger" id="depertureTime-error"></span>

                <label for="ArrivalDateTime">Arrival Time:</label>
                <input name="ArrivalDateTime" class="form-control" type="datetime-local" id="arrivalTime">
                <span asp-validation-for="Flights.Last().ArrivalDateTime" class="text-danger" id="arrivalTime-error"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
    </form>
</div>

@section Scripts {
    <script src="~/js/validations/flight-validation.js"></script>
    <script src="~/js/interactions.js"></script>
    <script src="~/js/animation.js"></script>
}
