﻿@model Airlines.Web.Models.AirportViewModel;

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left-sidebar.png" alt="arrow-back" />
    </a>
    <h2>Airports</h2>
</div>
<div class="toggle-button-container">
    <button class="toggle-button">Hide table</button>
</div>
<div class="search-container">

    <form class="search-form" asp-controller="Airport" asp-action="Index" method="get">
        <input type="text" placeholder="search" name="searchTerm" />
        <select name="filter">
            <option value="Name">Name</option>
            <option value="Country">Country</option>
            <option value="City">City</option>
            <option value="Code">Code</option>
            <option value="Runways_count">Runways</option>
            <option value="Founded">Founded</option>
        </select>
        <button class="search-form-button">Search</button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Code</th>
                <th>Runways</th>
                <th>Founded</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Airports.Any())
            {
                @foreach (var item in Model.Airports)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Country)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Runways)</td>
                        <td>@Html.DisplayFor(modelItem => item.Founded)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No data available</td>
                </tr>
            }
        </tbody>
    </table>
    <button id="go-to-top-button">^</button>
</div>
<div class="show-form-button-container">
    <button class="show-form-button">Show Form</button>
</div>
<div class="form-wrapper">
    <button class="show-form-button">Show Form</button>
    <form asp-controller="Airport" asp-action="AddAirport" method="post">
        @if (Model.Airports.Any())
        {
            <fieldset>
                <legend>Add New Airline</legend>
                <label asp-for="Airports.Last().Name">Name</label>
                <input asp-for="Airports.Last().Name" class="form-control">
                <span asp-validation-for="Airports.Last().Name" class="text-danger"></span>

                <label asp-for="Airports.Last().Country">Country</label>
                <input asp-for="Airports.Last().Country" class="form-control">
                <span asp-validation-for="Airports.Last().Country" class="text-danger"></span>

                <label asp-for="Airports.Last().City">City</label>
                <input asp-for="Airports.Last().City" class="form-control">
                <span asp-validation-for="Airports.Last().City" class="text-danger"></span>

                <label asp-for="Airports.Last().Code">Code</label>
                <input asp-for="Airports.Last().Code" class="form-control">
                <span asp-validation-for="Airports.Last().Code" class="text-danger"></span>

                <label asp-for="Airports.Last().Runways">Runways</label>
                <input asp-for="Airports.Last().Runways" class="form-control" type="number">
                <span asp-validation-for="Airports.Last().Runways" class="text-danger"></span>

                <label asp-for="Airports.Last().Founded">Founded</label>
                <input asp-for="Airports.Last().Founded" class="form-control" type="date">
                <span asp-validation-for="Airports.Last().Founded" class="text-danger"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend>Add New Airline</legend>
                <label for="Name">Name</label>
                <input name="Name" class="form-control" id="name">
                <span asp-validation-for="Airports.Last().Name" class="text-danger"></span>

                <label for="Country">Country</label>
                <input name="Country" class="form-control" id="country">
                <span asp-validation-for="Airports.Last().Country" class="text-danger"></span>

                <label for="City">City</label>
                <input name="City" class="form-control" id="city">
                <span asp-validation-for="Airports.Last().City" class="text-danger"></span>

                <label for="Code">Code</label>
                <input name="Code" class="form-control">
                <span asp-validation-for="Airports.Last().Code" class="text-danger" id="code"></span>

                <label for="Runways">Runways</label>
                <input name="Runways" class="form-control" type="number" id="runways">
                <span asp-validation-for="Airports.Last().Runways" class="text-danger" id="runways-error"></span>


                <label for="Founded">Founded</label>
                <input name="Founded" class="form-control" type="date" id="founded">
                <span asp-validation-for="Airports.Last().Runways" class="text-danger" id="founded-error"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
    </form>
</div>

@section Scripts {
    <script src="~/js/validations/airport-validation.js"></script>
    <script src="~/js/interactions.js"></script>
    <script src="~/js/animation.js"></script>
}
